@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poor Story', cursive;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DAECEC;
}

section{
  position: relative;
  width: 500px;
  height: 650px;
  margin: 32px 0 0 0 ;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #fff;
}

section::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-size: 640px 640px;
    background-position: center;
    background-image: url(./Bamboo.png);
}

.home--wrapper{
  position: relative;
  z-index: 3;
}

.home--wrapper h1{
  font-size: 65px;
  color: #608182;
  margin-top: 30px;
  text-align: center;
}

.home--btn--area{
  position: relative;
  z-index: 3;
}

.home--btn--area button{
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background: #608182;
  transition: all 0.4s;
}

.login--btn--area button:hover{
  border: 3px solid #608182;
  background-color: #6A8F92;
}

#home--btn1{
  margin-top: 390px;
}